node_modules
node_modules/
.env
.env.local
.env.development
.env.production
.env.test
.env.*

# Optional Chaining Bypass
# This line tells Git to ignore any directory starting with 'bypas' to skip Git operations.
/bypass
/bypass*

test
test/
postman/